# Folder view configuration files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnail cache files
._*

# Compiled Python files
*.pyc

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
